@import "settings";
@import "foundation";

h1 {
 font-family: 'Shadows Into Light', cursive;
background:#0a8ab9;
}

.first-col{
    font-family: "palatino", palatino, sans-serif;
outline: 2px solid black;
    min-height: 400px;
}

.second-col {
    font-family: "palatino";
    min-height: 400px;
    outline: 2px solid black;
}

.wximages {
       width:200px;
    
    
}

.menuitems {
   position: fixed;
     width:115px;
    height: 52px;
     top:50%;
     left:50%;
     margin:-50px 0 0 -80px;
     background:#0a8ab9;
}

.center {
    background-color: white;
    font-family: sans-serif;
   text-align: center; 
    margin-top: 40px;
}

.texts {
   margin-top: 40px;
}

